@page "/users"
@inject HttpClient Http

<PageTitle>Users</PageTitle>


<Heading Size="HeadingSize.Is1" TextAlignment="TextAlignment.Center">Users</Heading>

@if (users == null)
{
    <LoadingComponent />
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Fecha de alta</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>@user.CreatedAt.ToString()</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private User[]? users;

    protected override async Task OnInitializedAsync()
    {
        users = await Http.GetFromJsonAsync<User[]>("api/user");
    }
}
